.navBar-userBooks{
    background-color: burlywood;
    background-size:50px;
    height: 50px;
    margin: 5px;
    padding:10px;
    padding-top: 10px;
    border-radius: 10px;
  
  }
.user-books{
    padding-left:25px ;
    margin-top: -23px;
}
.search-in{
    background-color: burlywood;
}

.category{
    text-align: center;
    margin-top: 5px;
}
.container-action{
    width: 200px;
    background-color: burlywood;
    width: 250px;
    border-radius: 5px;
    margin: 20px;
    padding-left: 5px;
}
.to-flex{
    display: inline-grid;
    
}
.navigate-logout{
    margin: 10px;
    margin-right: 30px;
    /* border-radius: 10px; */
    border: none;
    background-color:burlywood;
    border-color: burlywood;
    height: 50px;
    width: 150px;
}
.align-btn-user{
    text-align: right;
    margin-top: -53px;
}
